<div class="reveal-modal-bg" style="display:block;"></div>
<div class="reveal-modal open" style="display:block; visibility: visible; opacity: 1;">
{{yield}}
<a class="close-reveal-modal" {{action 'close'}}>&#215;</a>
</div>
