<div class="row">
    <div class="large-12 columns">
        <h1>Assessment</h1>

        <label>Assessor</label>
        <p>{{assessor.name}}</p>

        <label>Score</label>
        <p>{{score}}</p>

        <label>Notes</label>
        <p>{{{notesDisplay}}}</p>

        {{#link-to 'assessment.edit' this class="button small radius"}}Edit{{/link-to}}

        {{#link-to 'submission.index' submission class="button small radius"}}Back to submission{{/link-to}}
    </div>
</div>
