<div class="row">
    <div class="col-md-12">
        <h1>Assessment</h1>

        <label>Assessor</label>
        <p>{{assessor.name}}</p>

        <label>Recommendation</label>
        <p>{{scoreText}}</p>

        <label>Notes</label>
        <p>{{{notesDisplay}}}</p>

        <label>Created at</label>
        <p>{{createdAtDisplay}}</p>

        {{#if canEdit}}{{#link-to 'assessment.edit' this class="btn btn-primary"}}Edit{{/link-to}} {{/if}}
    </div>
</div>
