<div class="row">
    <div class="large-12 columns">
        <h1>Code Test Analytics</h1>
		<div class="analytics-body">
			  <div id="analytics-main">
			    <div id="analytics-sequence"></div>
			    <div id="svg-container">
			      <div id="analytics-chart">
			        <div id="analytics-explanation" style="visibility: hidden;">
			          <span id="analytics-percentage"></span><br/>
			          <p id="percentage-explain"></p>
			        </div>
			      </div>
			    </div>
			  </div>
			  {{sunburst-viz data=content}}
		</div>
    </div>
</div>
