<div class="row">
    <div class="large-12 columns">
        <h1>Session Expired</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p>You must login to continue.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <button id='login'
        {{action 'login'}} class="button small">Login with Google Apps</button>
    </div>
</div>
