
<div class="row">
    <div class="large-12 columns">
        <h1>Submissions</h1>

        <table width="100%">
            <thead>
                <tr>
                    <th width="33%">Language</th>
                    <th width="33%">Level</th>
                    <th width="33%">Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each}}
                <tr>
                    <td>{{languageDisplay}}</td>
                    <td>{{candidate.level.text}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                        {{#link-to 'submission.index' this class="button tiny radius"}}View{{/link-to}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{#link-to 'submissions.new' classNames="button small radius success right"}}New Submission{{/link-to}}
    </div>
</div>
