<form method="POST" action="http://localhost:3000/code_tests"> <!-- TODO: this needs to be a var or something -->
<textarea id="email_text" name="email_text"></textarea>
<input type="file" id="zipfile" name="zipfile" />
<input type="submit" id="submit" name="submit" value="Create New Codetest!"/>
</form>