.navbar-nav > li.profile-dropdown > a {
    padding-top: 6px;
    padding-bottom: 4px;
}

.navbar.navbar-inverse {
  border-radius: 0;
}

.btn-group-vertical.text-left > .btn {
  text-align: left;
}

.action-column {
    width: 98px;
    min-width: 98px;
}

.action-column-small {
  width: 72px;
  min-width: 72px;
}

.action-column-large {
  width: 140px;
  min-width: 140px;
}

.form-horizontal-narrow .form-group .control-label {
  width: 100px;
}

.markdown-info {
  float: right;
  padding: 10px 15px;
}

.markdown-info > a > img {
  margin-bottom: 3px;
}

.table.table-buttons > thead > tr > th, .table.table-buttons > tbody > tr > th, .table.table-buttons > tfoot > tr > th, .table.table-buttons > thead > tr > td, .table.table-buttons > tbody > tr > td, .table.table-buttons > tfoot > tr > td {
  line-height: 2.25;
}

table .button {
    margin-bottom: 0;
}

div.report h5 {
    font-weight: bold;
}

.inline-with-button {
    padding-top: 0.8125em;
}

.fixed-bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

.tabs-content {
    margin-bottom: 0;
}

td.incomplete {
    font-style: italic;
}

table.inactive, table.active {
    width: 100%;
}

table.inactive th.candidate {
    width: auto;
}

table.inactive.recruiter th.candidate {
    width: auto;
}

th.language {
    width: 10%;
}

th.level {
    width: 10%;
}

th.time {
    width: 15%;
}

th.assessments {
  width: 10%;
}

th.asc a:after {
    content: " \2191"
}

th.desc a:after {
    content: " \2193"
}

table.active th.language {
    width: 33%;
}

table.active th.level {
    width: 33%;
}

table.active th.time {
    width: 33%;
}

table.inactive th.score {
  width: 25%;
}

table.inactive th.language {
    width: 25%;
}

table.inactive th.level {
    width: 25%;
}

table.inactive th.time {
    width: 25%;
}

table.inactive.recruiter th.score {
    width: 10%;
}

table.inactive.recruiter th.language {
    width: 10%;
}

table.inactive.recruiter th.level {
    width: 10%;
}

table.inactive.recruiter th.time {
    width: 15%;
}

table.active.recruiter th.language {
    width: 10%;
}

table.active.recruiter th.level {
    width: 10%;
}

table.active.recruiter th.time {
    width: 15%;
}
