<div class="row">
    <div class="large-12 columns">
        <h1>Nothing to see here</h1>
        <div class="alert-box alert">You don't have permission to access this page. {{message}}</div>
    </div>
</div>
