<div class="row">
    <div class="large-12 columns">
        {{render-marked raw_text}}
    </div>
</div>

{{#link-to 'secured.edit' class="button secondary radius tiny fixed-bottom-right"}}<i class="fa fa-edit"></i>{{/link-to}}
