<div class="row">
    <div class="col-md-12">
        <h1>Users</h1>

        <table class="table table-bordered table-buttons users">
            <thead>
            <tr>
                <th class="">Name</th>
                <th class="">Email</th>
                <th class="">Role</th>
                <th class="action-column-small"></th>
            </tr>
            </thead>
            <tbody>
            {{#each}}
                <tr>
                    <td class="name">{{name}}</td>
                    <td class="email">{{email}}</td>
                    <td class="role">{{role.name}}</td>
                    <td>{{#link-to 'user.edit' this class="btn btn-primary" disabled=editDisabled}}Edit{{/link-to}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
