<div class="row">
    <div class="large-12 columns">
        <h1>Users</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table class="large-12 users">
            <thead>
            <tr>
                <th class="large-3">Name</th>
                <th class="large-6">Email</th>
                <th class="large-3">Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each}}
                <tr>
                    <td class="name">{{name}}</td>
                    <td class="email">{{email}}</td>
                    <td class="role">{{role.name}}</td>
                    <td>{{#link-to 'user.edit' this class="button small radius" disabled=editDisabled}}Edit{{/link-to}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
