<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Code Test Bot</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            {{#if loggedIn}}
            <li>{{#link-to 'auth.logout'}}Logout{{/link-to}}</li>
            {{else}}
            <li>{{#link-to 'auth.login'}}Login{{/link-to}}</li>
            {{/if}}
        </ul>
    </section>
</nav>

{{outlet}}