<div class="row">
    <div class="large-12 columns">
        <h1>Users</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table class="large-12 users">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            {{#each}}
                <tr>
                    <td class="name">{{name}}</td>
                    <td class="email">{{email}}</td>
                    <td class="role">{{roleDisplay}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
