<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Code Test Bot</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    {{#if session.isAuthenticated}}
    {{outlet menu}}
    {{else}}
    <section class="top-bar-section">
        <ul class="right">
                <li>{{#link-to 'auth.login'}}<i class="fa fa-sign-in"></i> Login{{/link-to}}</li>
        </ul>
    </section>
    {{/if}}
</nav>

{{outlet}}
