<section class="top-bar-section">
<ul class="right">
    <li>{{#link-to 'submissions.index'}}Submissions{{/link-to}}</li>
    <li class="divider"></li>
    <li><a target="_blank" href="https://sites.google.com/a/cyrusinnovation.com/cyrus-internal-wiki/employee-guides/cyrus-interview-training/code-test-review-instructions">Review Instructions</a></li>
    <li class="divider"></li>
    {{#if isAdmin}}
    <li class="has-dropdown">
        <a>Admin</a>
        <ul class="dropdown">
          <li>{{#link-to 'users.index'}}<i class="fa fa-user"></i> Users{{/link-to}}
        </ul>
    </lI>
    <li class="divider"></li>
    {{/if}}
    <li class="has-dropdown profile-dropdown">
        <a>{{user.name}} <img {{bind-attr src=user.imageUrl}} /></a>
        <ul class="dropdown">
            <li><a {{action 'invalidateSession' }}><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </li>
</ul>
</section>
